$sidebar-bg-color: #882d17;
$sidebar-sticky: false;
$link-color: $sidebar-bg-color;
$sidebar-width: 10rem;
@import "hydeout";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

#sidebar nav>.fab.icon,
#sidebar nav>.fas.icon {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.1em;
  margin-top: 0.15em;
  padding: 0 4px;
}

.project-list {
  list-style: none;
  padding-left: 0;

  h3 {
    margin-top: 0;
  }

  li {

    p,
    small {
      color: #999;
      font-size: 75%;
    }
  }

  li a {
    display: block;
  }

  li a:hover {
    color: $link-color;
    text-decoration: none;
  }

  li a:hover {
    p {
      color: inherit;
    }
  }
}

.archived {
  font-style: normal;
  color: #999;
  border: 1px solid $border-color;
  border-radius: 300px;
  padding: 0.2em 0.7em;
  font-size: 60% !important;

  &:before {
    content: "Archived";
  }
}

:root {
  --color-primary: $sidebar-bg-color;
}

p {
  overflow-wrap: break-word;
}

details ul {
  margin-bottom: 0;
}